html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.main-button {
    width: 45%;
    height: 90vh;
}

.message {
    font-size: xx-large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}